<div class="container tableStyle">
  <form [formGroup]="userForm" (ngSubmit)="addUsers()">
    <div>
      <input type="text" formControlName="name" />&nbsp;
      <button type="submit" class="btn btn-danger">Add</button><br />
      <span *ngIf="userForm.get('name')?.touched">Enter valid user name.</span>
    </div>
  </form>

  <div class="text-center">
    <table class="table table-dark table-bordered table-striped-columns">
      <thead>
        <tr>
          <th>SNo</th>
          <th>Users</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let u of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ u }}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="removeUsers(u)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- {{ userForm.value | json }} -->
    <!-- <div>
        <button class="btn btn-dark" (click)="save()">Submit</button>
    </div> -->
  </div>
</div>
