<!-- <app-users></app-users> -->
<!-- <div class="container"> -->
<!-- Here property binding name is from child componenet hello and value is being assigned from parent comp 'app' -->
<!-- <app-hello [name]="name"></app-hello>
  <h1>List of Cities from app.component.ts</h1>
  <div *ngFor="let city of cities">
    <app-hello [name]="city"></app-hello>
  </div>
  <br />
  <div *ngFor="let person of people">
    <app-person [person]="person"></app-person>
  </div>
</div> -->

<!-- <app-item-detail (newItemEvent)="addItem($event)"></app-item-detail>
<h3>Parent component receiving value via @Output()</h3>
<ul>
  <li *ngFor="let item of items">{{ item }}</li>
</ul>
<hr />
<p class="text-primary">Input output example below</p> -->

<!-- <app-eventbinding></app-eventbinding> -->

<!-- <app-registration-form></app-registration-form> -->
<router-outlet></router-outlet>